.row-height {
    height: 1000px;
    text-align: center;
    padding-top: 550px;
}
.colclr1{  /*colors for the 4 cols in the first page*/
    background-color: #ffff00;
}
.colclr2{
    background-color: #ff0000;
}
.colclr3{
    background-color: #3399ff;
}
.colclr4{
    background-color: #00ff00;
}
